<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>ABOUT</title>
</head>

<body>
    {{>header}}

    {{>nav}}

    <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum praesentium temporibus possimus soluta
        exercitationem fugiat reprehenderit incidunt obcaecati autem officiis atque beatae quos, rem in, reiciendis ad
        saepe cum magni!
        Nihil possimus, minima aut enim labore earum aperiam a dignissimos dicta, corporis quibusdam nostrum voluptatem
        quia. Libero aliquam, eveniet, explicabo recusandae illum expedita quia veniam pariatur magnam numquam labore
        ea!
        Aperiam magnam ipsam et quaerat tempora veritatis tenetur incidunt cupiditate minima cum! Dolor obcaecati
        expedita ea ex, id corrupti? Ullam ducimus maxime accusamus cum saepe quae, cupiditate laboriosam iste maiores?
        Natus dignissimos recusandae vel repudiandae qui quibusdam, asperiores suscipit officiis impedit error nihil
        necessitatibus reprehenderit eum reiciendis provident? Sed, at alias! Veniam, corporis perspiciatis optio
        sapiente quidem porro neque commodi.
        Quia unde non delectus velit fugiat exercitationem autem fuga rem perspiciatis vitae odio eum atque aliquam
        facere fugit nisi voluptates repellat, sapiente laboriosam maiores eaque incidunt quis quo amet. Numquam!
    </p>

    {{>footer}}

</body>

</html>